<div class="container" ng-controller="ViewProject1Ctrl" style="color:{{textColor}}">
    <h1>
        Data Analysis and Visualisation
        <small>COSC3000 Project 1</small>
    </h1>
    <hr>

    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <button type="button" class="btn btn-{{btnstate?'success':'danger'}}" ng-model="btnstate"
                    btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0">
                Display Toggle
            </button>

            <input class="form-control" ng-model="textColor">

            <div collapse="btnstate">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </div>
        </div>
    </div>
</div>