body {
  background-image: url("/static/images/shattered.png");
  font-family: serif; }
  body h1 {
    font-variant: small-caps; }

.container {
  box-shadow: 0 0 5px #49075e;
  background-color: #FFFFFF;
  padding-bottom: 25px;
  transition: background-color 1s; }
  .container .menu {
    text-align: center; }
    .container .menu:before {
      content: "["; }
    .container .menu:after {
      content: "]"; }
    .container .menu > li {
      display: inline; }
    .container .menu > li:before {
      content: "|";
      padding-right: 0.3em; }
    .container .menu li:nth-child(1):before {
      content: "";
      padding: 0; }

.main {
  border: 1px solid #49075e; }
